.grass {
    background-color: #79C251;
}

.fire {
    background-color: #F17F2D;
}

.water {
    background-color: #6E8BC6;
}

.normal {
    background-color: #ACAA7A;
}

.bug {
    background-color: #AABA39;
}

.electric {
    background-color: #F7D233;
}

.poison {
    background-color: #9E4399;
}

.ground {
    background-color: #E0C166;
}

.fairy {
    background-color: #F7CBDF;
}

.fighting {
    background-color: #C4312B;
}